<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pear.data.master.core.mapper.AgentProfitDistributionMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.alias,a.agent_id,a.geway_code_id,a.channel_id,a.binding_type,
        a.service_charge_type,a.service_charge,a.extra_service_charge,
        a.is_enable,
        a.create_time,a.update_time,a.yn
    </sql>


    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="agentId != null and agentId != '' " >
                and a.agent_id = #{agentId}
            </if>
            <if test="gewayCodeId != null and gewayCodeId != '' " >
                and a.geway_code_id = #{gewayCodeId}
            </if>
            <if test="channelId != null and channelId != '' " >
                and a.channel_id = #{channelId}
            </if>
            <if test="bindingType != null and bindingType != '' " >
                and a.binding_type = #{bindingType}
            </if>
            <if test="isEnable != null and isEnable != '' " >
                and a.is_enable = #{isEnable}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time asc
    </sql>

    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.pear.data.master.core.model.agent.AgentProfitDistributionModel">
        select
        <include refid="Base_Column_List" />
        from tb_pr_agent_profit_distribution a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.pear.data.master.core.model.agent.AgentProfitDistributionModel">
        select
        <include refid="Base_Column_List" />
        from tb_pr_agent_profit_distribution a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.pear.data.master.core.model.agent.AgentProfitDistributionModel">
        select
        <include refid="Base_Column_List" />
        from tb_pr_agent_profit_distribution a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.pear.data.master.core.model.agent.AgentProfitDistributionModel">
        select
        <include refid="Base_Column_List" />
        from tb_pr_agent_profit_distribution a
        <include refid="Example_Where_Clause_id"/>
    </select>



    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_pr_agent_profit_distribution a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.pear.data.master.core.model.agent.AgentProfitDistributionModel">
        select
        <include refid="Base_Column_List" />
        from tb_pr_agent_profit_distribution a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.pear.data.master.core.model.agent.AgentProfitDistributionModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_pr_agent_profit_distribution
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="agentId != null and agentId != '' " >
                agent_id,
            </if>
            <if test="gewayCodeId != null and gewayCodeId != '' " >
                geway_code_id,
            </if>
            <if test="channelId != null and channelId != '' " >
                channel_id,
            </if>
            <if test="bindingType != null and bindingType != '' " >
                binding_type,
            </if>
            <if test="serviceChargeType != null and serviceChargeType != '' " >
                service_charge_type,
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                service_charge,
            </if>
            <if test="extraServiceCharge != null and extraServiceCharge != '' " >
                extra_service_charge,
            </if>
            <if test="isEnable != null and isEnable != '' " >
                is_enable,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="agentId != null and agentId != '' " >
                <![CDATA[  #{agentId}, ]]>
            </if>
            <if test="gewayCodeId != null and gewayCodeId != '' " >
                <![CDATA[  #{gewayCodeId}, ]]>
            </if>
            <if test="channelId != null and channelId != '' " >
                <![CDATA[  #{channelId}, ]]>
            </if>
            <if test="bindingType != null and bindingType != '' " >
                <![CDATA[  #{bindingType}, ]]>
            </if>
            <if test="serviceChargeType != null and serviceChargeType != '' " >
                <![CDATA[  #{serviceChargeType}, ]]>
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                <![CDATA[  #{serviceCharge}, ]]>
            </if>
            <if test="extraServiceCharge != null and extraServiceCharge != '' " >
                <![CDATA[  #{extraServiceCharge}, ]]>
            </if>
            <if test="isEnable != null and isEnable != '' " >
                <![CDATA[  #{isEnable}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.pear.data.master.core.model.agent.AgentProfitDistributionModel">
        UPDATE tb_pr_agent_profit_distribution a
        <trim prefix="set" suffixOverrides=",">
            <if test="agentId != null and agentId != '' " >
                a.agent_id = #{agentId},
            </if>
            <if test="gewayCodeId != null and gewayCodeId != '' " >
                a.geway_code_id = #{gewayCodeId},
            </if>
            <if test="channelId != null and channelId != '' " >
                a.channel_id = #{channelId},
            </if>
            <if test="bindingType != null and bindingType != '' " >
                a.binding_type = #{bindingType},
            </if>
            <if test="serviceChargeType != null and serviceChargeType != '' " >
                a.service_charge_type = #{serviceChargeType},
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                a.service_charge = #{serviceCharge},
            </if>
            <if test="extraServiceCharge != null and extraServiceCharge != '' " >
                a.extra_service_charge = #{extraServiceCharge},
            </if>
            <if test="isEnable != null and isEnable != '' " >
                a.is_enable = #{isEnable},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOpechannel_idn" parameterType="Object">
        update tb_pr_agent_profit_distribution a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>


</mapper>