<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pear.data.master.core.mapper.InOrderResultMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.my_trade_no,a.trade_no,a.total_amount,a.service_charge,a.trade_status,a.pay_id,a.trade_time,a.extra_return_param,a.sign,a.data_explain,
        a.curday,a.curhour,a.curminute,a.run_num,a.run_status,
        a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="myTradeNo != null and myTradeNo != '' " >
                and a.my_trade_no = #{myTradeNo}
            </if>
            <if test="tradeNo != null and tradeNo != '' " >
                and a.trade_no = #{tradeNo}
            </if>
            <if test="tradeStatus != null and tradeStatus != '' " >
                and a.trade_status = #{tradeStatus}
            </if>
            <if test="payId != null and payId != '' " >
                and a.pay_id = #{payId}
            </if>
            and a.yn = 0

        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.pear.data.master.core.model.order.InOrderResultModel">
        select
        <include refid="Base_Column_List" />
        from tb_pr_in_order_result a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.pear.data.master.core.model.order.InOrderResultModel">
        select
        <include refid="Base_Column_List" />
        from tb_pr_in_order_result a
        <include refid="Example_Where_Clause"/>
        ORDER BY a.create_time DESC
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.pear.data.master.core.model.order.InOrderResultModel">
        select
        <include refid="Base_Column_List" />
        from tb_pr_in_order_result a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.pear.data.master.core.model.order.InOrderResultModel">
        select
        <include refid="Base_Column_List" />
        from tb_pr_in_order_result a
        <include refid="Example_Where_Clause_id"/>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.pear.data.master.core.model.order.InOrderResultModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_pr_in_order_result
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="myTradeNo != null and myTradeNo != '' " >
                my_trade_no,
            </if>
            <if test="tradeNo != null and tradeNo != '' " >
                trade_no,
            </if>
            <if test="totalAmount != null and totalAmount != '' " >
                total_amount,
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                service_charge,
            </if>
            <if test="tradeStatus != null and tradeStatus != '' " >
                trade_status,
            </if>
            <if test="payId != null and payId != '' " >
                pay_id,
            </if>
            <if test="tradeTime != null and tradeTime != '' " >
                trade_time,
            </if>
            <if test="extraReturnParam != null and extraReturnParam != '' " >
                extra_return_param,
            </if>
            <if test="sign != null and sign != '' " >
                sign,
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                data_explain,
            </if>
            <if test="curday != null and curday != '' " >
                curday,
            </if>
            <if test="curhour != null and curhour != '' " >
                curhour,
            </if>
            <if test="curminute != null and curminute != '' " >
                curminute,
            </if>
            <if test="runNum != null and runNum != '' " >
                run_num,
            </if>
            <if test="runStatus != null and runStatus != '' " >
                run_status,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="myTradeNo != null and myTradeNo != '' " >
                <![CDATA[  #{myTradeNo}, ]]>
            </if>
            <if test="tradeNo != null and tradeNo != '' " >
                <![CDATA[  #{tradeNo}, ]]>
            </if>
            <if test="totalAmount != null and totalAmount != '' " >
                <![CDATA[  #{totalAmount}, ]]>
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                <![CDATA[  #{serviceCharge}, ]]>
            </if>
            <if test="tradeStatus != null and tradeStatus != '' " >
                <![CDATA[  #{tradeStatus}, ]]>
            </if>
            <if test="payId != null and payId != '' " >
                <![CDATA[  #{payId}, ]]>
            </if>
            <if test="tradeTime != null and tradeTime != '' " >
                <![CDATA[  #{tradeTime}, ]]>
            </if>
            <if test="extraReturnParam != null and extraReturnParam != '' " >
                <![CDATA[  #{extraReturnParam}, ]]>
            </if>
            <if test="sign != null and sign != '' " >
                <![CDATA[  #{sign}, ]]>
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                <![CDATA[  #{dataExplain}, ]]>
            </if>
            <if test="curday != null and curday != '' " >
                <![CDATA[  #{curday}, ]]>
            </if>
            <if test="curhour != null and curhour != '' " >
                <![CDATA[  #{curhour}, ]]>
            </if>
            <if test="curminute != null and curminute != '' " >
                <![CDATA[  #{curminute}, ]]>
            </if>
            <if test="runNum != null and runNum != '' " >
                <![CDATA[  #{runNum}, ]]>
            </if>
            <if test="runStatus != null and runStatus != '' " >
                <![CDATA[  #{runStatus}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.pear.data.master.core.model.order.InOrderResultModel">
        UPDATE tb_pr_in_order_result a
        <trim prefix="set" suffixOverrides=",">
            <if test="myTradeNo != null and myTradeNo != '' " >
                a.my_trade_no = #{myTradeNo},
            </if>
            <if test="tradeNo != null and tradeNo != '' " >
                a.trade_no = #{tradeNo},
            </if>
            <if test="totalAmount != null and totalAmount != '' " >
                a.total_amount = #{totalAmount},
            </if>
            <if test="serviceCharge != null and serviceCharge != '' " >
                a.service_charge = #{serviceCharge},
            </if>
            <if test="tradeStatus != null and tradeStatus != '' " >
                a.trade_status = #{tradeStatus},
            </if>
            <if test="payId != null and payId != '' " >
                a.pay_id = #{payId},
            </if>
            <if test="tradeTime != null and tradeTime != '' " >
                a.trade_time = #{tradeTime},
            </if>
            <if test="extraReturnParam != null and extraReturnParam != '' " >
                a.extra_return_param = #{extraReturnParam},
            </if>
            <if test="sign != null and sign != '' " >
                a.sign = #{sign},
            </if>
            <if test="dataExplain != null and dataExplain != '' " >
                a.data_explain = #{dataExplain},
            </if>
            <if test="curday != null and curday != '' " >
                a.curday = #{curday},
            </if>
            <if test="curhour != null and curhour != '' " >
                a.curhour = #{curhour},
            </if>
            <if test="curminute != null and curminute != '' " >
                a.curminute = #{curminute},
            </if>
            <if test="runNum != null and runNum != '' " >
                a.run_num = #{runNum},
            </if>
            <if test="runStatus != null and runStatus != '' " >
                a.run_status = #{runStatus},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_pr_in_order_result a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>





</mapper>